@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=wrap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'san-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    gap: 50px;
}
.btn{
    position: relative;
    width: 200px;
    padding: 15px 20px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 40px;
    transition: transform 0.1s;
    overflow: hidden;
}
.btn span{
    position: relative;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;
}
.btn:hover span{
    color: rgba(255, 255, 255, 1);
}
.btn:before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background-color: var(--clr);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 1s, left 0s, top 0s;
}
.btn:hover::before{
    width: 200px;
    height: 200px;
}